# ignore all
*

# allow directory
!*/

# allow
!/data/Data/*walking*
!/data/Data/*bicycling*

!*.txt
!*.md
!*.jld2

!*.jl

!*.tex
!*.cls
!*.sty
!*.bib
!*.bst
!*.bbl
!*.log

!*.svg
!*.pdf
!*.png
!*.jpg
!*.jpeg
!*.ai

!.gitignore
